.main-chat
  .main-header
    .main-header__left-box
      .main-header__left-box--group-title
        %p グループ名
      .main-header__left-box--group-member
        %p Member: nagahashi（機能未実装）
    .main-header__edit-button
      %p Edit
  .main-chatspace
  .main-footer
    .main-footer__from
      %input.main-footer__from--input{placeholder: "type a message"}
        %label.main-footer__from--input-image
          %i.f.fas.fa-images
          %input{type: "file"}
      %input.main-footer__from--submit{type: "button", value: "Send"}